.container.snippet-container {
  height: 532px;
  background: #303030;
}

.container.snippet-container h1 {
  position: absolute;
  font-weight: 400;
  font-size: 54px;
  line-height: 65px;
  font-family: Arial, Helvetica, sans-serif;
  top: 8%;
  left: 25%;
}

.container.snippet-container div {
  font-family: monospace;
  font-size: 23px;
  line-height: 27px;
  color: #dcdcdc;
  position: absolute;
  width: 75%;
  top: 28%;
  left: 10%;
  background: #3f3f3f;
}

.world-icon {
  position: absolute;
  top: 10%;
  left: 91%;
  width: 1%;
  background: none;
}

#footer-container {
  margin-left: 40%;
}

.navigation-view {
  position: absolute;
  top: 85%;
  left: 90%;
}

.arrow.arrow-left {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 25px solid #3884b9;
}

.arrow.arrow-right {
  margin-left: 30px;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid #3884b9;
}

.arrow.arrow-left:hover {
  border-right-color: #96bad4;
}

.arrow.arrow-right:hover {
  border-left-color: #96bad4;
}

.arrow {
  transition: all 0.3s ease-out;
}

.arrow:focus {
  transform: translateY(5px);
}
