.fa.fa-laptop.fa-lg {
  margin: 5px;
  color: gold;
  font-size: 20px;
}

.fa.fa-laptop.fa-lg:hover {
  transform: scale(1.5);
  transition-duration: 100ms;
}

ul.nav.navbar-nav.ml-auto li a {
  font-size: 15px;
  margin-left: 30px;
}

.container {
  margin-left: 0;
  margin-right: 0;
}

.navbar-brand {
  margin-right: 50px;
}

.nav.navbar-nav.ml-auto {
  margin-right: -100px;
}
