<mat-sidenav-container #sidenav class="main-container">
  <mat-sidenav #sidenav mode="side" opened>
    <mat-list role="list">
      <mat-list-item class="btn btn-primary" routerLinkActive="active-router-link-welcome" [routerLink]="" [routerLinkActiveOptions]="{exact: true}"
        role="listitem">
        PreConditions
      </mat-list-item>
      <mat-list-item class="btn btn-primary" routerLinkActive="active-router-link-welcome" [routerLink]="" [routerLinkActiveOptions]="{exact: true}"
        role="listitem">
        MultiMap
      </mat-list-item>
      <mat-list-item class="btn btn-primary" routerLinkActive="active-router-link-welcome" [routerLink]="" [routerLinkActiveOptions]="{exact: true}"
        role="listitem">
        Immutable Lists
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <button mat-icon-button (mouseenter)="sidenav.open()" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>

    <div class="welcome-container" *ngIf="showWelcomeRouteDiv">
      <p>Welcome to Guava</p>
      <div class="btn btn-lg btn-success">
        <i class="fa fa-lemon-o"></i> Get started</div>
    </div>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>