# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
GuavaDemoSpring/src/main/webapp/dist
/dist-server
GuavaDemoSpring/src/main/webapp/dist-server
/tmp
GuavaDemoSpring/src/main/webapp/tmp
/out-tsc
GuavaDemoSpring/src/main/webapp/out-tsc

# dependencies
/node_modules
GuavaDemoSpring/src/main/webapp/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
GuavaDemoSpring/src/main/webapp/typings

# e2e
/e2e/*.js
GuavaDemoSpring/src/main/webapp/e2e/*.js
/e2e/*.map
GuavaDemoSpring/src/main/webapp/e2e/*.map

# System Files
.DS_Store
GuavaDemoSpring/src/main/webapp.DS_Store
Thumbs.db
GuavaDemoSpring/src/main/webappThumbs.db
/.metadata/
