.container.container-live {
  position: absolute;
  top: 20%;
  height: 532px;
  background: #303030;
}

.row.execute-button {
  position: absolute;
  top: 55%;
  left: 20%;
  width: 80%;
}

.row.execute-button .btn:nth-child(2) {
  background: none;
  width: 10%;
}

.row.execute-button .btn {
  background: lightslategray;
  border-radius: 10px;
  margin: 25px;
  width: 25%;
  font-size: 30px;
  transition: all 0.3s ease-in-out;
}

.row.execute-button .btn:hover {
  transform: scale(1.1);
}

.container.container-live div.form-control {
  background-color: #3f3f3f;
  color: #e3ceab;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 2px;
  border: none;
}

.container.container-live input.form-control {
  width: 60%;
  height: 65px;
  border-radius: 20px;
  box-shadow: 1px 1px 5px white;
  margin-left: 20%;
  margin-top: 5%;
  background-color: #3f3f3f;
  color: whitesmoke;
  text-decoration: tomato;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 2px;
}

.container.container-live .form-control {
  background-color: #3f3f3f;
  color: #e3ceab;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 2px;
  border: none;
}

#footer-container {
  margin-left: 2%;
}
