.container.snippet-container {
  height: 92.5%;
  background: #303030;
}

.container.snippet-container .container {
  max-height: 65%;
  overflow-y: auto;
}

.container.snippet-container h1 {
  position: absolute;
  font-weight: 400;
  font-size: 54px;
  line-height: 65px;
  font-family: Arial, Helvetica, sans-serif;
  top: 8%;
  left: 25%;
}

.container.snippet-container div {
  font-family: monospace;
  font-size: 23px;
  line-height: 27px;
  color: #dcdcdc;
  position: absolute;
  width: 75%;
  top: 28%;
  left: 10%;
  background: #3f3f3f;
  animation: snippet-animation 500ms ease-in-out 0s forwards alternate;
  opacity: 0;
  left: 0%;
}
@keyframes snippet-animation {
  0% {
    left: 0%;
  }
  100% {
    opacity: 1;
    left: 10%;
  }
}

.container.snippet-container div {
  font-family: monospace;
  font-size: 23px;
  line-height: 27px;
  color: #dcdcdc;
  position: absolute;
  width: 75%;
  top: 28%;
  left: 10%;
  background: #3f3f3f;
}

.world-icon {
  position: absolute;
  top: 10%;
  left: 91%;
  width: 1%;
  background: none;
}

#footer-container div {
  position: absolute;
  top: 10%;
  left: 0%;
  opacity: 0;
  border-radius: 10px;
  box-shadow: 1px 1px 15px white;
  animation: live-btn-anim 500ms ease-in-out forwards;
}

@keyframes live-btn-anim {
  50% {
    left: 83%;
    opacity: 0.6;
  }
  80% {
    left: 78%;
    opacity: 0.8;
  }
  100% {
    left: 80%;
    opacity: 1;
  }
}

.navigation-view {
  position: absolute;
  top: 85%;
  left: 90%;
}

.arrow.arrow-left {
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 20px solid #3884b9;
}

.arrow.arrow-right {
  margin-left: 30px;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 20px solid #3884b9;
}

.arrow {
  transition: all 0.2s ease-out;
}

.arrow.arrow-left.pressed {
  border-right-color: #96bad4;
  transform: translateY(2px);
}

.arrow.arrow-right.pressed {
  border-left-color: #96bad4;
  transform: translateY(2px);
}

.mat-progress-bar {
  border-radius: 10px;
}

::ng-deep .mat-progress-bar-buffer {
  background-color: #3f3f3f;
}
