<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      Aman Garg
    </a>
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active-router-link">
        <a class="nav-link" matTooltip="Swoosh right back to home" matTooltipPosition="below" routerLink="home">
          <i class="fa fa-home fa-lg"></i>
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active-router-link" matTooltip="Presentations in favor of Guava" matTooltipPosition="below"
          routerLink="presentation">Why Guava?
          <i class="fa fa-lemon-o"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" matTooltip="View caveats associated with Guava" matTooltipPosition="below" routerLink="caveats" routerLinkActive="active-router-link">Caveats</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" matTooltip="Other tips that we might benefit from, later" matTooltipPosition="below" routerLink="tips"
          routerLinkActive="active-router-link">Tips
        </a>
      </li>
    </ul>
  </div>
</nav>