<div class="container container-live">
    <!-- {{guavaUseCase.problemStatement}} -->
    <div class="container container-input">
        <div class="form-control">{{guavaUseCase.problemStatement}}</div>
        <input type="text" class="form-control" name="userInput" id="userTextInput" placeholder="Enter inputs">
    </div>

    <div class="row execute-button">
        <div class="btn btn-lg btn-primary">Java</div>
        <div class="btn btn-lg btn-success">=</div>
        <div class="btn btn-lg btn-primary">Guava</div>
    </div>
</div>

<div id="footer-container" class="nav navbar-fixed-bottom navbar-dark bg-dark">
    <i matTooltip="Go back to the theory" matTooltipPosition="right" class="fa fa-arrow-circle-o-left fa-2x" (click)="restoreOriginalView()"></i>
</div>