/* You can add global styles to this file, and also import other style files */
@import '~bootswatch/dist/yeti/bootstrap.min.css';
@import '~@angular/material/prebuilt-themes/purple-green.css';
@import "https://fonts.googleapis.com/css?family=Lato|Roboto:400, 900";
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

*:focus {
  outline: none;
}

.margin-right-15 {
  margin-right: 15px;
}

.margin-left-15 {
  margin-left: 15px;
}

.mat-tooltip {
  font-size: 15px;
}

no-padding {
  padding: 0px !important;
}

no-margin {
  margin: 0px !important;
}

.active-router-link {
  border-left: 5px solid mediumseagreen;
}
